---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="A propos" description="About Jeanine White Lorem Ipsum">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="à propos"
        tagline="Merci de vous être arrêter. Apprenez-en sur moi et mon passé ci-dessous"
      >
        <img
          width="1553"
          height="873"
          src="/assets/aboutme.webp"
          alt="Jeanine White at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Je suis un jeune passionné par le commerce et la communication, avec
            un fort intérêt pour la stratégie marketing et la vente. Mon
            parcours a débuté en développement informatique, mais j’ai
            rapidement compris que mon attrait pour l’humain, la négociation et
            l’analyse de marché était plus fort que mon envie de coder. C’est
            pourquoi j’ai choisi de me réorienter vers le BUT Techniques de
            Commercialisation à l’IUT Charlemagne.
          </p>
          <p>
            Je suis convaincu que savoir vendre, c’est savoir se vendre. Que ce
            soit dans une entreprise ou pour mon propre projet entrepreneurial,
            maîtriser les stratégies commerciales est essentiel. Mon objectif
            est double : Développer des compétences en gestion et stratégie
            marketing pour devenir un acteur clé dans une entreprise. Me
            préparer à créer mon propre business, en apprenant à comprendre le
            marché et à me différencier.
          </p>
          <p>
            Je me forme constamment pour affiner ma compréhension du marketing
            digital, de la négociation et des comportements clients. Mon
            parcours m’a appris à tirer parti de mes erreurs : mon choix initial
            en informatique m’a permis de mieux cerner ce que je voulais
            vraiment. Cette expérience m’a donné une capacité d’adaptation forte
            et une vision claire de mon avenir.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Titulaire d'un baccalauréat en 2024 et étudiant en développement
            informatique au CESI en 2024/2025
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Veille</h2>
        <div class="content">
          <p>
            Lecture et recherche active sur le marketing digital et la vente.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
