---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Optimisation de la vente</h2>
    <p>
      J’ai cherché à améliorer mes stratégies de vente en comprenant <strong
        >comment toucher plus de personnes</strong
      >, <strong>quoi leur dire</strong> et <strong
        >comment les fidéliser</strong
      >.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Ambition & Vision Entrepreneuriale</h2>
    <p>
      Je veux <strong> maîtriser les rouages du commerce</strong> pour mieux me vendre,
      mais aussi <strong>créer mon entreprise</strong> ou intégrer une structure
      où je pourrai être <strong>une force de proposition</strong> polyvalente.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Les Vertus de l’Échec</h2>
    <p>
      Je conscience que je n’ai pas choisi la bonne formation au départ, mais
      grâce à cette erreur, j’ai compris <strong
        >ce que je ne voulais pas</strong
      > et clarifié mon vrai projet professionnel.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
